body {
	font-family: Calibri, sans-serif;
	margin: 0.5em;
	font-size: 12px;
	text-align: center;
	background: #EFF0F0;
}

#body_container {
	margin: 0 auto;
	width: 85%;
	text-align: left;
	background-color: #fff;
	border-top: #CBCACA solid thin;
}

#body_dv {
	min-height: 500px;
}

#header_dv img {
	margin: 1.5em;
	float: left;
}

div#header_user {
	padding: 1em;
	text-align: left;
	font-size: 1.1em;
	margin-left: 70%;
}

div#header_user span {
	color: #e87722;
}

.ui-tabs-nav {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}


h1.title {
	color: #FFF;
	margin: 0;
	font-size: 2em;
	padding: 0;
}

h2 {
	font-size: 1.3em;
}

div.info {
	background: #e87722;
	padding: 0.5em 1.5em;
	clear: both;
}

div#tableSpace, div#inqTableSpace {
	padding: 1em;
}

div.footer {
	background: #d45d00;
	color: #fff;
	font-size: 1em;
	padding: 1em;
}

hr.seperator {
	background: #E06D13;
	width: 95%
}


span.emp-info-span {
	display: block;
	float: left;
}

span.emp-info-space {
	display: block;
	float: left;
	margin: 0 0.8em;
}

label.detailsLbl {
	display: block;
	float: left;
	width: 7em;
}

span.detailSpan {
	display: block;
	width: 28%;
	padding: 0.5em;
	float: left;
	min-height: 2em;
}

span.detailSpan.codeSpan {
  width: 27em;
}
span.addSpan {
	display: block;
	margin: 1em;
}

label.addLbl {
	display: block;
	width: 7em;
	float: left;
}

span.detailRemarks {
	width: 90%;
}

br.clearfix {
	clear: both;
}

div#ui-datepicker-div, div.ui-spinner {
	font-size: 1em;
}

input.ui-button {
  padding: 0.2em 1em !important;
  margin: 0px 0.3em 0.4em !important;
}
select {
	font-family: Tahoma;
	padding: 2px;
}

/* table.dataTable th.dt-left, table.dataTable td.dt-left {
  text-align: left;
  padding-left: 0.5em;
} */
div#tabs {
	margin: 1em;
}

.ui-tabs {
	border: 1px solid #8e846b;
	color: #383838;
	background: none !important;
}

.ui-dialog{
	text-align: left;
}

div#dialog-form {
  min-height: 250px !important;
}

.ui-tabs-panel {
	display: block;
	border-width: 0;
	padding: 1em 1.4em;
	background: none;
	border: solid 1px rgb(82, 76, 64) !important;
	margin: 0 0.1em !important;
}

table.dataTable.no-footer {
	border-bottom: 1px solid #111111;
	font-size: 1em;
}

table.dataTable th.dt-left, table.dataTable td.dt-left {
	text-align: left;
	padding-left: 0.5em;
}

div.tab_div {
	clear: both;
}

.ui-widget-content {
	background: #fff !important;
}

#adminDiv{
	margin: 1em;
	padding: 0.5em;
	border: 1px solid #8e846b;
	border-radius: 4px;
}

.ui-widget-content .ui-state-error {
    border: 1px solid #ffb73d;
    background: #d34d17 url(images/ui-bg_diagonals-medium_20_d34d17_40x40.png) 50% 50% repeat;
    color: red !important;
}

div.load_pay{
	padding: 0.5 em;
}